{% extends 'mall_test/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h2>결제하기</h2>

  <form action="" method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="새 결제 만들기" />
  </form>

  {% comment %} <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script>
    ;(function () {
      const IMP = window.IMP
      const code = 'iamport'
      IMP.init(code)
    
      const merchant_uid = 'merchant_' + new Date().getTime()
    
      IMP.request_pay(
        {
          merchant_uid: merchant_uid,
          name: '결제 테스트',
          amount: 100
        },
        function (response) {
          console.log(response)
        }
      )
    })()
  </script> {% endcomment %}
{% endblock %}
